waveVector k0
waveVectorMax 0
waveVectorStep 0
confinement 1
FDstep 101
numLayers 2
material1 AlSb -200 200 0
material2 InAs -50 50 -1.803
numcb 32
numvb 32
ExternalField 0 EF
EFParams 0.0005
gfactorMethod analytical
gfactorBand cb 1
